* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
}

#can {
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 750px;
    width: 1000px;
    border: 1px solid black;
}